// -----------------------------------------------------------------------------------------------------------------------
// ES Lint - Source
// https://github.com/facebookincubator/create-react-app/tree/master/packages/eslint-config-react-app
// yarn add babel-eslint@^7.2.3 eslint@^4.1.1 eslint-plugin-flowtype@^2.34.1 eslint-plugin-import@^2.6.0 eslint-plugin-jsx-a11y@^5.1.1 eslint-plugin-react@^7.1.0 --dev
// yarn add --dev eslint-config-react-app
// yarn add --dev eslint-loader
// -----------------------------------------------------------------------------------------------------------------------

{
  "extends": "react-app"
}
